<% include ./header %>
<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">our <span>STORY</span></h1>
                    <div style="text-align:center;"><img style="text-align:center;" src="images/about-us-pizza.jpg"></div>
                    
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">First we had an idea.. by time it became a vision.</p>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">After that, step by step we opened our first location.</p>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">Now we have multiple pizzerias</p>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">We wouldn't have anything now if we had stopped at 'just another foolish idea'</p>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #price close -->
<% include ./footer %>