<!--
Slider start
============================== -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h3>Featured <span>Works</span></h3>
                    </div>
                    <div id="owl-example" class="owl-carousel">
                        <div>
                            <img class="img-responsive" src="images/slider/slider1.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="images/slider/slider2.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="images/slider/slider3.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="images/slider/slider4.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="images/slider/slider5.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="images/slider/slider6.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="images/slider/slider7.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="images/slider/slider8.jpg" alt="">
                        </div>

                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- slider close -->

