<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
    <div class="item">
        <div class="item-title">
            <h2><%= pizza.name %></h2>
            <div class="border-bottom"></div>
            <span><%= pizza.price %></span>
        </div>
        <p><%= pizza.ingredients %></p>
    </div>
</li>
